@import "normalize.scss";
@import "foundation.scss";
@import "compass/css3/transition";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "cw-custom.scss"; // This is where we can put custom mixins and classes
@import "gravityforms";
@import "wordpress";
@import "bxslider";
@import "cw-accordion";
@import "cw-slides";

// variables
$linkColor: #FF0000;
//$linkHover: lighten($linkColor, 15%);
$linkHover: #000;
$fontColor: #000;

html, body {
	margin: 0;
	padding: 0;
	background:url(/wp-content/themes/cw/img/bg/wig-gig_bg_body.jpg) fixed;

}

body {
	&.admin-bar {
		padding-top: 46px;
	}
}

* {
	outline: none!important;
	
	&:hover,
	&:focus {
		outline: none!important;
	}
}

pre {
	position: relative;
	padding: 24px;
	font-size: 10px;
	border: solid 1px #666;
	background-color: #fff;
	@include border-radius(20px);
	margin: 15px;

	.close-pre {
		display: block;
		position: absolute;
		top: 15px;
		right: 15px;
		width: 20px;
		height: 20px;
		border: solid 1px #666;
		@include border-radius(20px);
		cursor: pointer;

		&:before,
		&:after {
			position: absolute;
			display: block;
			content: '';
			background-color: #666;
			width: 13px;
			height: 2px;
			top: 50%;
			left: 50%;
			@include transform-origin(center center);
			@include transition(.5s);
		}

		&:before {
			@include transform(translateY(-50%) translateX(-50%) rotate(0deg));
		}

		&:after {
			@include transform(translateY(-50%) translateX(-50%) rotate(0deg));
		}

		&.open {
			&:before {
				@include transform(translateY(-50%) translateX(-50%) rotate(90deg));
			}
			&:after {
				@include transform(translateY(-50%) translateX(-50%) rotate(180deg));
			}
		}
	}
}

// reference clases
.vertcent {
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
}

.horzcent {
	position: absolute;
	left: 50%;
	@include transform(translateX(-50%));
}

.absocent {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translateX(-50%) translateY(-50%));
}

.smoothfont {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//typography
h1, h2, h3, h4, h5, h6 {
	margin: 0;

	&.page-title {
		color: #6D861A;

	}
}

h1 {
	font-size: 3.75em;
}

h2 {
	font-size: 3em;
}
h3 {
	font-size: 2.25em;
}
h4 {
	font-size: 1.875em;
}
h5 {
	font-size: 1.5em;
}
h6 {
	font-size: 1.125em;
}

p, li  {
	font-size: .875em;
	color: $fontColor;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	&.styleless {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

a {
	color: $linkColor;
	@include transition(.25s);

	&:hover {
		color: $linkHover;
		@include transition(.25s);
	}
}

input[type="text"],
input[type="email"],
input[type="submit"],
select,
textarea {
	border: 1;
	outline: none!important;
	padding: 10px!important;
	margin: 0!important;
}

input[type="submit"] {

}

input[type="text"],
input[type="email"],
textarea {

}

input[type="text"],
input[type="email"] {

}

textarea {

}

.hr_inv{
	border: 1px transparent;
}

// General CSS
.fuzzy_back
{
	background: rgba(0, 0, 0, 0.5);
}
.center{
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
.f_left{ float:left}
.f_right{ float:right}
.w_txt{
	color:#FFF;
}

//buttons

.button{
	background:red;
	border:0px;
	color:#FFF;
	padding:0.5em 1em 0.5em 1em;
}
.button:hover, .button:focus {
  background-color: #F64A36;
  color:#000;

}


// header and nav
[role=banner] {
	padding-top:10px;

	//background-color:#FFF;
	background:url(/wp-content/themes/cw/img/bg/wig-gig_bg_header-top.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	// foundation nav structure 
	.contain-to-grid {
		//border-top:1px solid #ddddce;
		background:transparent;


		[role="navigation"] {
			//border-top:1px solid #ddddce;
			background-color:#F64A36;
			// background-color:transparent;
			.title-area {

			}
			.top-bar-section {
				ul{
					//background:#3B5981;
				}
				li:not(.has-form) a:not(.button) {
				  padding: 0 15.39px;
				  line-height: 45px;
				  //background: #F64A36;
				  font-size: 21px;
				  font-family: 'Vollkorn', serif;
				  color:#000;
				}
				.menu {
					.menu-item {
						&.menu-item-type-custom {
							& > a {
							}
						}
						&.current-menu-item,
						&.current-menu-parent,
						&.active {
							& > a {
								background:#FFF;

								//border-top: 5px solid #f00;
							}
						}
						a {
							&:hover {
								// color:#55b777;
								color:#FFF;
							}
						}
						.sub-menu {
							//background:none;
							.menu-item {
								&.menu-item-type-custom {
									a {
										
									}
								}
								a {
									&:hover {
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

//menu item colors
.menu-item-20 {
	a{
		background-color:#FE9E27 !important;
	}
}
.menu-item-21 {
	a{
		background-color:#FE9E27 !important;
	}
}
.menu-item-22 {
	a{
		background-color:#F33A3E !important;
	}
}
.menu-item-23 {
	a{
		background-color:#9BB830 !important;
	}
}
.menu-item-24 {
	a{
		background-color:#F33A3E !important;
	}
}
.menu-item-25 {
	a{
		background-color:#9BB830 !important;
	}
}
.menu-item-26 {
	a{
		background-color:#369DF3 !important;
	}
}
.menu-item-86 {
	a{
		background-color:#9BB830 !important;
	}
}

.header_social{
	max-width:90px;
	padding:10px;
}

.top-bar.expanded .title-area {
  background: #F33A3E;
}

// main content
[role="main"] {
	//padding:10px;

	.home & {
	}
	background:#FFF;
}

.p_content{
	padding:20px 10px 20px 10px;
}


//home page content
.div_cont{
	padding-bottom:30px;
}
.location{
	background-color:#9CB830;
	background:url(/wp-content/themes/cw/img/bg/wig-gig_bg_main-img1.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:10px 10px 30px 10px;
}

.program{
	background-color:#FE9E26;
	background:url(/wp-content/themes/cw/img/bg/wig-gig_bg_main-img2.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:10px 10px 30px 10px;
}

.ourday{
	background-color:#3E62AE;
	background:url(/wp-content/themes/cw/img/bg/wig-gig_bg_main-img3.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:10px 10px 30px 10px;
}

.img_padding{
	padding-bottom:10px;

}
.t_height{
	min-height:35px;
}
.t_height1{
	min-height:50px;
}
.button1{
	background:#6D861A;
}
.button2{
	background:#FD6220;
}
.button3{
	background:#369DF3;
}

.h_title{
	font-size:1em;
}

//google maps
	.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

// sidebar
[role="complementary"] {

}

// footer
[role="contentinfo"] {

}

.footer_bg{
	background:url(/wp-content/themes/cw/img/bg/wig-gig_bg_footer.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.footer_divs{
	margin: 20px 0px 20px 0px;
	padding-right:20px;
	padding-left:20px;
	font-size:20px;
	line-height:30px;
	border-right:2px solid rgb(253, 98, 32);
	a{
		color:#FFF;
	}
	a:hover{
		color:$linkHover;
	}
}
.footer_divs1{
	margin: 20px 0px 20px 0px;
	padding-right:20px;
	padding-left:20px;
}

.footer_social{
	max-width:70px;
	padding:10px;
}
.c_txt{
	padding-bottom:20px;
}
// misc stuff, specific stuff, global stuff
.logo {
	a {
		display: inline-block;
	}
}

.cw {
	display: block;
	width: 100%;
	height: 30px;
	background: right center no-repeat url(/wp-content/themes/cw/img/cw-dark.png);
	text-indent: -9999px;
}

.gf_captcha {
	display: none;
}

.cf:before,
.cf:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.cf:after {
	clear: both;
}


//media queries
@media all and (max-width: 1026px) {

	
}
@media all and (min-width: 1001px) {
	
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 15.39px;
		line-height: 45px;
		//background: #e5e5d2;
		font-size: 21px;
		font-family: 'Vollkorn', serif;
		
	}

}

@media all and (max-width: 1001px) {
	
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		font-size: 20px;
		padding: 0 12px;
		line-height: 45px;
		//background: transparent;
		
	}

}


@media all and (max-width: 911px) {

	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		
		font-size: 19px;
		padding: 0 10px;
		line-height: 45px;
	}

}

@media all and (max-width: 845px) {

	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		font-size: 17px;
		padding: 0 10px;
		line-height: 45px;
	}
}

@media all and (max-width: 771px) {
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		font-size: 15px;
		padding: 0 10px;
		line-height: 45px;
	}
}

@media all and (max-width: 700px) {
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		font-size: 15px;
		padding: 0 6.3px;
		line-height: 45px;
	}

	.h_title{
		font-size:0.85em;
	}
}

@media all and (max-width: 640px) {
	
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		font-size: 20px;
		padding: 0 15px;
		line-height: 45px;
		//background: transparent;
	}
	.h_title{
		font-size:1em;
	}

}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
 	*zoom: 1;
 }

@media all and (min-width: 783px) {
	body {
		&.admin-bar {
			padding-top: 32px;
		}
	}
}

 // print styles
 @media print {
 	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
 	a, a:visited { text-decoration: underline; }
 	a[href]:after { content: " (" attr(href) ")"; }
 	abbr[title]:after { content: " (" attr(title) ")"; }
 	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
 	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
 	thead { display: table-header-group; }
 	tr, img { page-break-inside: avoid; }
 	img { max-width: 100% !important; }
 	@page { margin: 0.5cm; }
 	p, h2, h3 { orphans: 3; widows: 3; }
 	h2, h3 { page-break-after: avoid; }
 }


